include requirements/*.txt
include HazyDet/VERSION
include HazyDet/.mim/model-index.yml
include HazyDet/.mim/demo/*/*
recursive-include HazyDet/.mim/configs *.py *.yml
recursive-include HazyDet/.mim/tools *.sh *.py
